# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv
venv/
ENV/
env/

# ===============================
# Jupyter / Colab
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Model & Artifact (besar)
# ===============================
model/*.pkl
*.pkl
*.joblib

# ===============================
# Dataset
# ===============================
data/*.csv
*.csv

# ===============================
# Flask
# ===============================
instance/
.flaskenv

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Build / Cache
# ===============================
build/
dist/
.cache/

